<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.oit.basil"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="25"/>
    <!-- Permissions are as follows:
        Bluetooth: Needed for connecting to our PIC32 microcontroller
        File Access: We will store data in a directory (if we use getFilesDir(), need?)
        Location: We will use phone's GPS to save location used
            -->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>

    <!-- These permissions aren't used yet. Probably won't need Ext Storage
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
        -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/basil"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BASIL"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>